# Основные зависимости для веб-приложения
fastapi==0.104.1
uvicorn==0.24.0
python-multipart==0.0.6
jinja2==3.1.2

# Для работы с изображениями
Pillow==10.1.0
opencv-python==4.8.1.78
numpy==1.26.2

# Для работы с Excel
openpyxl==3.1.2

# Для работы с Roboflow
roboflow==1.1.19
supervision==0.17.1

# Системные зависимости
asyncio
threading
datetime
os
glob
io
base64
contextlib

